<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jiyun.huanchong">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.activity.start.StartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.activity.home.HomeActivity" />
        <activity android:name=".ui.activity.login.RegisterActivity"></activity>
        <activity android:name=".ui.activity.login.BindPhoneActivity"></activity>
        <activity android:name=".ui.activity.login.LoginActivity"></activity>
        <activity android:name=".ui.activity.fosterteacher.FosterteacherActivity"></activity>
        <activity android:name=".ui.activity.konw.KonwActivity"></activity>
        <activity android:name=".ui.activity.news.NewsActivity"></activity>
        <activity android:name=".ui.activity.news.ChatInterfaceActivity"></activity>
        <activity android:name=".ui.activity.order.OrderActivity"></activity>
        <activity android:name=".ui.activity.order.OrderdetailsActivity"></activity>
        <activity android:name=".ui.activity.order.EvaluatessuccessActivity"></activity>
        <activity android:name=".ui.activity.personalInfomation.PersonalInfomationActivity"></activity>
        <activity android:name=".ui.activity.personalInfomation.UpdateAddressActivity"></activity>
        <activity android:name=".ui.activity.personalInfomation.UpdateUserNameActivity"></activity>
        <activity android:name=".ui.activity.pet.AddPetActivity"></activity>
        <activity android:name=".ui.activity.pet.PetActivity"></activity>
        <activity android:name=".ui.activity.pet.PetMianYiActivity"></activity>
        <activity android:name=".ui.activity.pet.PetTypeActivity"></activity>
        <activity android:name=".ui.activity.setting.SettingActivity"></activity>
        <activity android:name=".ui.activity.wallet.WalletActivity"></activity>
        <activity android:name=".ui.activity.wallet.ProposalActivity"></activity>

        <activity
            android:name="com.zaaach.citypicker.CityPickerActivity"
            android:theme="@style/CityPicker.NoActionBar"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity
            android:name="com.umeng.qq.tencent.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="tencent100424468" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.umeng.qq.tencent.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="orientation|keyboardHidden|screenSize"/>
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5a369dbfa40fa3569f000829" >
        </meta-data>
    </application>

</manifest>